<strong>Olá, {{ deliveryman }} </strong>
<p>Você possui uma nova encomenda cadastrada, confira os detalhes:</p>
<p>
  <strong>Destinatário: </strong> {{ name }} <br/>
  <strong>Endereço: </strong> {{ street }}, {{number}}, {{city}}, {{state}}. {{complement}} <br/>
  <strong>CEP: </strong> {{ zipcode }} <br/>
  <br />
  <strong>Produto: </strong> {{ product }} <br/>
  <br />
  <p>A encomenda já está disponível para retirada.</p>
</p>
