<strong>Olá, {{ deliveryman }} </strong>
<p>A seguinte encomenda foi <strong> cancelada:</strong></p>
<p>
  <strong>Destinatário: </strong> {{ name }} <br/>
  <strong>Endereço: </strong> {{ street }}, {{number}}, {{city}}, {{state}}. {{complement}} <br/>
  <strong>CEP: </strong> {{ zipcode }} <br/>
  <br />
  <strong>Produto: </strong> {{ product }} <br/>
  <br />
</p>
<p><strong>Problema da entrega:</strong> {{ problem }}</p>
